@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 10000;
    transition: 0.6s;
}
header .logo
{
    position: relative;
    font-weight: 700;
    color: black;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header #toggle{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
 
header #toggle:before
{
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 2px;
    background: black;
}
header #toggle:after
{
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background: black;
}
.banner.active header #toggle:before{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}

.banner.active header #toggle:after{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}

.banner
{
    position: relative;
    width:100%;
    min-height: 120vh;
    padding: 100px;
     background-color: rgb(7, 145, 155);
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
}
.banner.active{
    transform: translateX(-400px);
}
#navigation{
    position: fixed;
    top: 0;
    right: -200px;
    width: 400px;
    height: 100vh;
    background: #3c9bac;
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.5s;
}
#navigation.active{
    right: 0;

}
#navigation ul{
    position:relative;
    display: flex;
    flex-direction: column;
}
#navigation ul li{
    list-style: none;

}
#navigation ul li a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
}

.container{
    background-color: #ebedfa;
    width: 70%;
    min-width: 420px;
    
    margin-left: -70px;
    padding: 35px 50px;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 55%;
    border-radius: 10px;
    box-shadow: 20px 30px 25px rgba(0,0,0,0.15);
}
h1{
    font-size: 30px;
    text-align: center;
    color: #1c093c;
}
p{
    position: relative;
    margin: auto;
    width: 100%;
    text-align: center;
    color: #606060;
    font-size: 14px;
    font-weight: 400;
}
form{
    width: 100%;
    position: relative;
    margin: 30px auto 0 auto;
}
.row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 20px 30px;
    margin-bottom: 20px;
}
label{
    color: #096474;
    font-size: 14px;
}
textarea,
input{
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
}
textarea{
    resize: none;
}
textarea:focus,
input:focus{
    outline: none;
    border-color: #6f6df4;
}
button{
    border: none;
    padding: 10px 20px;
    background: linear-gradient(
        130deg,
        #2e05a0,
        #10be28
        
    );
    color: #e7dbdf;
    border-radius: 3px;
}