@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(Srbg.png);
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
   
    z-index: 10000;
    transition: 0.6s;
}
header .logo
{
    position: relative;
    font-weight: 700;
    color: black;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header #toggle{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
 
header #toggle:before
{
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 2px;
    background: black;
}
header #toggle:after
{
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background: black;
}
.banner.active header #toggle:before{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}

.banner.active header #toggle:after{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}

.banner
{
    position: relative;
    width:100%;
    min-height: 100vh;
    padding: 100px;
    background: url(bg.png);
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
}
.banner.active{
    transform: translateX(-400px);
}
#navigation{
    position: fixed;
    top: 0;
    right: -200px;
    width: 400px;
    height: 100vh;
    background: #40c3ff;
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.5s;
}
#navigation.active{
    right: 0;

}
#navigation ul{
    position:relative;
    display: flex;
    flex-direction: column;
}
#navigation ul li{
    list-style: none;

}
#navigation ul li a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}
.contact
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #40c3ff;
}
.contact .content
{
    max-width: 800px;
    text-align: center;
}
.contact .content h2
{
    font-size: 3em;
    color: azure;
    font-weight: 500;
    text-align: center;
}
.contact .content p
{
    color: azure;
    font-size: 1.1em;
    text-align: center;
    font-weight: 300;
}
.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}
.container .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
    cursor: pointer;
}
.container .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75em;
    transition: 0.5s;
}
.container .contactInfo .box:hover .icon
{
    background: #000;
    color: #fff;
}
.container .contactInfo .box .text
{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1.1em;
    color: #fff;
    font-weight: 300;
}
.container .contactInfo .box .text h3
{
    font-weight: 500;
    color: #000;
}
.container .contactInfo .box .text h3.txt
{
    color: #fff;
    margin-top: 50px;
    font-weight: 500;
}
.container .contactForm
{
    position: relative;
    width: 40%;
    background: #fff;
    min-height: 100px;
    padding: 60px;
}
.container .contactForm h2
{
    font-size: 2em;
    color: #333;
    font-weight: 500;

}
.container .contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.container .contactForm .inputBox input,
.container .contactForm .inputBox textarea
{
    width: 100px;
    padding: 5px 0;
    font-size: 1.1em;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.container .contactForm .inputBox span
{
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 1.1em;
    color: #666;
    transition: 0.5s;
}
.container .contactForm .inputBox input:focus ~ span,
.container .contactForm .inputBox textarea:focus ~ span
.container .contactForm .inputBox input:valid ~ span,
.container .contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 0.9em;
    transform: translateY(-20px);
}
.container .contactForm .inputBox input[type="Submit"]
{
    width: 100px;
    background: #40c3ff;
    color:azure;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 500;
}

.container
{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.container .card
{
    position: relative;
    max-width: 300px;
    height: 420px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    flex-direction: column;
    z-index: 1;
    box-shadow: 0 5px 202px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}
.container .card:hover
{
    height: 420px;
}
.container .card .imgbx
{
    position: relative;
    width: 260px;
    height: 260px;
    top: 60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

}
.container .card .content
{
    position: relative;
    margin-top: -140px;
    /* padding: 10px 15px; */
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.container .card:hover .content
{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}